:root {    
    --primary-color: #34495E;
    --primary-color-rgb: 52, 73, 94;
    --primary-color-ligher: #eef7ff;

    --contrast-color: #DC7633;
    --contrast-color-rgb: 220, 118, 51;
    --contrast-color-lighter: #FBEEE6;


    --secondary-color: #218ca2;
    --secondary-color-rbg: 33, 140, 162;
}
